@font-face {
  font-family: Klim-Type;;
  src: url(../fonts/COPYRIGHT-KLIM-TYPE-FOUNDRY-NOT-LICENSED-FOR-DESKTOP-USE-6.TTF);
}

@font-face {
  font-family: DMSans-normal;;
  src: url(../fonts/DMSANS-REGULAR.TTF);
}

@font-face {
  font-family: DMSans-bold;;
  src: url(../fonts/DMSANS-BOLD.TTF);
}

@font-face {
  font-family: DMSans-medium;;
  src: url(../fonts/DMSANS-MEDIUM.TTF);
}

@font-face {
  font-family: DMSans-boldit;;
  src: url(../fonts/DMSANS-BOLDITALIC.TTF);
}

@font-face {
  font-family: DMSans-boldit;;
  src: url(../fonts/DMSANS-BOLD.TTF);
}

@font-face {
  font-family: DMSans-bold;;
  src: url(../fonts/DMSANS-BOLD.TTF);
}

@font-face {
  font-family: Tomatoes;
  src: url(../fonts/TOMATOES-O8L8.TTF);
}

@font-face {
  font-family: 'OneUI';
  src: url('/assets/fonts/SSans/NewSECKeypad-Regular.eot');
  src: url('/assets/fonts/SSans/NewSECKeypad-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/SSans/NewSECKeypad-Regular.woff2') format('woff2'),
      url('/assets/fonts/SSans/NewSECKeypad-Regular.woff') format('woff'),
      url('/assets/fonts/SSans/NewSECKeypad-Regular.ttf') format('truetype'),
      url('/assets/fonts/SSans/NewSECKeypad-Regular.svg#NewSECKeypad-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'OneUI' !important;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #0d131a;
  --sb-track-color: rgb(13, 19, 26);
  --sb-thumb-color: #ffc148;
  --sb-size: 11px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
             
}

.main-content {
  display: none;
  animation: fadeIn 0.5s ease-in-out forwards; /* Animazione di fade-in */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d131a; /* Colore di sfondo */
  z-index: 9999;
  animation: fadeOut 5s ease-in-out forwards 6s; /* Animazione di fade-out */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Logo */
.loading-logo {
  max-width: 20%;
  max-height: 20%;
  display: block;
  margin: 0 auto;
  margin-left: 48%;
  margin-top: -5%;
}

/* Testo di caricamento */
.loading-text {
  color: #fff; /* Colore del testo */
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  margin-left:-10%;
  margin-right: 50%;
}

.vibes{
  font-family: Tomatoes;
  font-size: 100px;
}

body::-webkit-scrollbar {
  display: none;
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 35px;
  border: 3px solid #22272c;
}

.hd-image {
  position: fixed;
  margin-top: -90%;
  margin-left: -15%;
  z-index: -1;
}

#fixed{
  position:fixed;
  display: none;
  bottom:3%;
  right:2%;
}

header{
  display:block;
}

.sfondohd{
  background-image: url('../img/header/hd6.jpg'); /* Sostituisci con il percorso dell'immagine */
  background-size:cover; /* Adatta l'immagine per coprire tutto lo sfondo */
  background-position:top; /* Posiziona l'immagine al centro dell'header */
  width: auto;
  height: 905px;
}

nav{
  font-family: OneUI;
  background-position: center;
  background: rgb(80,51,0);
  background: radial-gradient(circle, rgba(80,51,0,1) 0%, rgba(148,49,0,0.8827906162464986) 37%, rgba(178,89,0,0.7483368347338936) 56%, rgba(228,199,0,0) 85%);
  background-size: cover; /* Imposta la dimensione dell'immagine di sfondo in modo che copra l'intero elemento */
  background-attachment: fixed; /* Fissa l'immagine di sfondo, in modo che rimanga fissa quando si scorre la pagina */
}

nav {
  text-align: right;
  align-content: center;
  margin: 0 auto;
  align-items: stretch;
  position: fixed;
  top: 2%;
  word-break: normal;
  bottom: auto;
  left: 1%;
  right: 1%;
  outline: 2px solid rgb(255, 255, 255, .3);
  display:flex;
  justify-content: space-between;
  background-color: rgba(87, 87, 87, 0.116); /* Colore di sfondo semi trasparente */
  padding: 5px 0;
  color: black;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 15px;
  backdrop-filter: blur(10px); /* Effetto blur */
  z-index:2;
}

nav a {
  color: rgb(243, 243, 243);
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.65%;
  border-radius: 6px;
  margin-bottom: 1.0%;
  margin-left: -10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  float: left;
  text-align: center;
}

nav a:hover {
  outline: solid 3px rgba(255, 255, 255, 0.61);
  color: #ffffff;
}

nav img{
  height: 70px;
  width: auto;
  
}

.btnspecialnav{
  background-color: white;
  color:rgba(0, 0, 0, 100);
  margin-left: 50%;
  width:fit-content;
}

.btnspecialnav:hover{
  background-color: white;
  color:black;
  width:fit-content;
}


.menu-butt{
  display: none;
}

.video-pheader{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 25px;
  left: 514px;
  width: 900px;
  height: 500px;
  transition: ease-in 10s linear;

}

#playeryt{
  position: absolute;
  width: 900px;
  height: 500px;
  border-radius: 34px;
  border: 5px solid #e4e4e9;
  box-shadow: 0px 0px 50px 0px #ffffff3b;
}

#ytplayer1 {
  display: block;
  position: relative;
  top: 50%;
  left: 445px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#ytplayer1 iframe {
  margin-top:4px;
  width: 910px;
  height: 514px; /* 16:9 ratio */
  border-radius: 18px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index:3;
}

#popup {
  background: #fff;
  border-radius: 18px;
  border: 4px solid #e4e4e900;
  max-width: 900px;
  height: 509px;
  text-align: center;
  box-shadow: 0px 0px 0px 8px #ffffffe3, 0px 0px 0px 16px #2e2e2e, 0px 0px 0px 24px #82848259, 0px 0px 0px 32px #d1d1d11a;
}

.pulsanteplclose{
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 50px 0px #ffffff15;
  width: 100px;
  height: 100px;
  background-color: rgba(160, 160, 160, 0.349); /* Colore di sfondo semi trasparente */
  backdrop-filter: blur(200px); /* Effetto blur */
  z-index: 1;
}

.pulsanteiconclose{
  margin-top:35px;
}

.pulsantepl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 50px 0px #ffffff15;
  width: 100px;
  height: 100px;
  background-color: rgba(218, 218, 218, 0.24); /* Colore di sfondo semi trasparente */
  backdrop-filter: blur(150px); /* Effetto blur */
  z-index: 1;
}

.videotitle{
  position:absolute;
  text-align: center;
  top: 110%;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: none;
  width: 1920px;
  height: fit-content;
  padding: 10px;
  font-size: 50px;
  backdrop-filter: blur(50px); /* Effetto blur */
  z-index: 1;
}
/***FOOTER**/

.footer {
  position:initial;
  margin-bottom: 2.5%;
  margin-right: 3%;
  margin-left: 3%;
  outline: 2px solid rgb(255, 255, 255, .3);
  display:flex;
  background-color: rgba(87, 87, 87, 0.116); /* Colore di sfondo semi trasparente */
  padding: 5px 0;
  color: white;
  height: 600px;
  border-radius: 10px;
  padding-right: 1.4%;
  padding-left: 2.1%;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
  z-index: 5;
}


.trace{
  margin-bottom:18%;
}


.footer-content{
    display:block;
}


/* Aggiungi una classe specifica al footer quando si supera il punto desiderato */
.footer.expanded {
  height: 100px; /* Altezza desiderata quando il footer è espanso */
}

table{
  margin-top: 4%;
  margin-left: -4%;
  width: 1600px;
  height: fit-content;
}
th{
  font-size: 20px;
}
table,
td {
  padding: 20px;
  border: 2px solid black;
}

thead,
tfoot {
  color: #fff;
}

.footerfont{
  font-family: OneUI;
  font-size: 20px;
  color: white;
}

.chisiamo{
  text-align: left;
}


.socialbanner{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 8.5%;
  word-break: normal;
  outline: 4px solid #e0e0e0;
  display:flex;
  backdrop-filter: blur(10px); /* Effetto blur */
  height: 175px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  background-color: rgba(87, 87, 87, 0.116);
  backdrop-filter: blur(30px); /* Effetto blur */
  text-align:left;
  z-index:-3;
}

.social-icon{
  margin-top:-24.5%;
  padding-top:25px;
  margin-left: 180%;
  padding-left: 30px;
  height: 80px;
  width: 80px;
  display:flex;
  justify-content: center;
  border-spacing: 10%;
}

.social-text1{
  margin-top:-3%;
  padding-top:10px;
  font-family: Klim-Type;
  font-size: 100px;
  margin-left: 20px;
}

.social-text2{
  padding-top:10px;
  font-family: OneUI;
  font-size: 20px;
  margin-left: 20px;
}

.social-scuola{
  text-align: center;
  margin-top:240px;
  margin-bottom:15px;
  padding-top:10px;
  padding-bottom:10px;
  font-family: OneUI;
  font-size: 20px;
  margin-left: -36.2%;
  border-radius:10px;
  height: auto;
  width: 240px;
  color:black;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction:row;will-change:transform;transform:translateX(-0px);
}

.scroller {
  max-width: 3000px;
  font-size: 25px;
  font-weight: bold;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}






.welcome-message {
  text-align: left;
  padding: 10px;
  margin: 10%;
  font-family: Klim-Type;
  font-size: 75px;
}
.welcome-message-subtext {
  text-align: left;
  font-family: OneUI;
  margin: 0 auto;
  margin-left: 10.5%;
  margin-top: -15%;
  font-size: 20px;
}

.hide { display:none; }

.livetwitch{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -5%;
  margin-top: 8.5%;
  word-break: normal;
  outline: 4px solid #e0e0e0;
  display:flex;
  background-color: rgba(87, 87, 87, 0.116); /* Colore di sfondo semi trasparente */
  padding: 35px 0;
  height: 500px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
  z-index:-3;
}

.livetwitch2v{
  margin-left: 28.3%;
  margin-right: 28.2%;
  margin-bottom: 4%;
  margin-top: 9.5%;
  word-break: normal;
  outline: 4px solid #e0e0e0;
  display:flex;
  background-color: rgba(87, 87, 87, 0.116); /* Colore di sfondo semi trasparente */
  box-shadow: 0px 0px 40px 0px #c9c9c9ab; 
  height: 500px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
  z-index:3;
}

.info-diretta{
  margin-left: 53%;
  margin-right: 5%;
  margin-bottom: -5%;
  margin-top: -30%;
  word-break: normal;
  outline: 4px solid #393e43;
  box-shadow: 0px 0px 40px 0px #c9c9c900;
  display:flex;
  background-color: rgba(6, 7, 8, 0); /* Colore di sfondo semi trasparente */
  padding: 35px 0;
  height: 432px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
  z-index:-3;
}

.info-title{
  font-family: OneUI;
  font-size: 130px;
  margin-left: 3%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-top: -35%;
  word-break: normal;
  padding: 35px 0;
  height: 500px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
  z-index:-3;
}

.twitchplayer{
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  border-radius: 20px;
  border: 2px solid #e7e7e7;
  box-shadow: 0px 0px 10px 0px #ffc148;
  z-index:-2;
  width: 76%;
  height: 76%;
}


.text-tw{
  font-family: OneUI;
  font-size: 15px;
  padding-top:8px;
  padding-left:8px;
  padding-right:8px;
  padding-bottom:-15px;
  margin-top: -1%;
  margin-left: 4%;
  margin-right: 1%;
  margin-bottom: 1%;
  color: red;
  text-align: right;
  z-index: 2;

}

ul{
  list-style-type: none;}

.circle {
  position: absolute;
  left: 2.3%;
  top: 6.0%;
  transform: translateX(-50%) translateY(-50%);
  width: 15px;
  height: 15px;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 250%;
    height: 250%;
    box-sizing: border-box;
    margin-left: -75%;
    margin-top: -75%;
    border-radius: 45px;
    background-color: #ca0000;
    animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f31010;
    border-radius: 50px;
    animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.indiretta{
  height: 30px;
  width: 140px;
  background-color: #fff;
  margin-left: -95%;
  margin-top: -1.3%;
  border-radius: 30px;
  z-index: 3;
}


.img-player-twitch{
  position: absolute;
  width: fit-content;
  height: auto;
  padding-bottom: 0; /* 16:9 */
  backdrop-filter: blur(10px); /* Effetto blur */
}


.dropdown a{
  position:relative;
  justify-content:space-between;
  margin-top:-0.5%;
  float:right;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
}


/* Optional: The following css just makes sure the twitch video stays responsive */
#twitch {
position:unset;
padding-bottom: 32.5%; /* 16:9 */
padding-top: 10px;
height: 0; 
border-radius: 10px;
}
#twitch object, #twitch iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 10px;
}

#loading-container {
  text-align: center;
}

#loading-logo {
  max-width: auto; /* Imposta la larghezza massima del tuo logo */
  height: auto;
  margin-top: 10%;
  opacity: 0;
}
.spinner {
  position: relative;
  width: 56px;
  height: 56px;
  margin-left: 47.8%;
  margin-top: 20%;
  margin-bottom: 2%;
}

.spinner > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 13.4px solid rgba(243, 158, 0, 0.486);
  position: absolute;
  top: 0;
  left: 0;
  animation: spinner-g7vlvwmd 0.65s linear infinite;
  z-index: 0;
}

.spinner > div::before {
  content: '';
  height: 13.4px;
  width: 13.4px;
  border-radius: 50%;
  background: #e4e4e9;
  position: absolute;
  top: 50%;
  animation: spinner-h1vps1md 1.3s infinite reverse steps(1);
  transform: translate(calc(2 * var(--translate-2)), calc(var(--translate) * 1%));
  z-index: 1;
}

.spinner > div:nth-of-type(1) {
  --translate: -50;
  --translate-2: calc(56px / 8);
}

.spinner > div:nth-of-type(1)::before {
  right: 0;
}

.spinner > div:nth-of-type(2) {
  --translate: 50;
  --translate-2: calc(-56px / 8);
  animation-delay: 0.65s;
  animation-direction: reverse;
  transform: translate(21.3px, 0);
}

.spinner > div:nth-of-type(2)::before {
  left: 0;
  transform: translate(calc(-56px / 4), -50%);
  animation-direction: normal;
}

@keyframes spinner-h1vps1md {
  0% {
     opacity: 0;
  }

  50% {
     opacity: 1;
  }
}

@keyframes spinner-g7vlvwmd {
  from {
     transform: translate(calc(var(--translate) * 1%), 0) translate(calc(var(--translate-2)), 0) rotate(0deg);
  }

  to {
     transform: translate(calc(var(--translate) * 1%), 0) translate(calc(var(--translate-2)), 0) rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes reveal {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.speaker{
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: -5%;
  margin-top: 10%;
  word-break: normal;
  display:flex;
  background-color: rgba(6, 7, 8, 0.116); /* Colore di sfondo semi trasparente */
  padding: 35px 0;
  height: 500px;
  width: 300px;
  color: white;
  border-radius: 10px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:center;
}

.speaker-title{
  margin-left: 1%;
  margin-right: 15%;
  margin-bottom: 4%;
  margin-top:5%;
  background-color: rgba(107, 146, 185, 0.116); /* Colore di sfondo semi trasparente */
  padding: 35px 0;
  width: 600px;
  color: white;
  border-radius: 30px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:left;
}

.speaker-in-dettaglio{
  margin-left: 5%;
  margin-right: 15%;
  margin-bottom: 4%;
  background-color: rgba(107, 146, 185, 0.116); /* Colore di sfondo semi trasparente */
  padding: 35px 0;
  width: 600px;
  color: white;
  border-radius: 30px;
  padding-right: 20px;
  backdrop-filter: blur(10px); /* Effetto blur */
  text-align:left;
}

#carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.person {
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  margin-right: 20px;
  text-align: center;
}

.person img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.offlinedataimg{
  width: 835px;
  margin-right: -1.8%;
  margin-bottom:-2%;
  margin-top:-0.1%;
  height:500px;
  z-index: -5;
  border-radius: 10px;
}

/* MENU MOBILE */
